<% @popular_categories.each do |category| %>
  <div class='category__cell'>
    <%= link_to events_path(by_category: category.id) do %>
      <div class='category__body'>
        <div class='category__name-container'>
          <h3 class='category__name title '><%= category.name %></h3>
        </div>
        <div class='category__image-wrapper'>
          <%= cl_image_tag(category.picture, class: 'category__image',
                                             gravity: :center,
                                             height: 220,
                                             width: 708,
                                             crop: :fill)  %>
        </div >
      </div>
    <% end %>
  </div>
<% end %>
