<h2 class='profile-header_name title title--center title--skinny'><%= current_user.name %></h2>
<h2 class='profile-header_title title title--center title--skinny'>Events you've created</h2>
<%= render 'users/aside' %>

<%= render 'users/main_box' %>
