<div class='eu-grid'>
  <h2 class='eu__header--left title title--center title--skinny'><%= @user.name %></h2>

  <% if @user == current_user %>

    <h2 class='eu__header--center title title--center title--skinny'><%= @header_title %></h2>
    <%= render 'users/aside' %>

  <% else %>

    <h2 class='profile-header_title title title--center title--skinny'>Events</h2>

  <% end %>

  <%= render 'users/main_box' %>
</div>
