<div class="flash-container">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message,
                    class: "alert flash-#{message_type}", id: 'flash') %>
  <% end %>
</div>
