<% if current_user %>
  <div id='attend-form' class='attend-form'>
    <% if current_user.attending?(@event) %>
      <%= render 'unattend' %>
    <% else %>
      <%= render 'attend' %>
    <% end %>
  </div>
<% end %>
