<article class='e-list__cell'>

  <!-- Event edit button -->

  <% if event.creator == current_user && event.upcoming? %>
    <div class='event__edit'><%= link_to('edit', edit_event_path(event), class: 'link-decorate') %></div>
  <% end %>

  <!-- Event content -->

  <div class='e-list__content'>

    <%= render 'events/e-stash', event: event %>

  </div>
</article>
