<%= form_for(current_user.attendances.find_by(attending_event_id: @event.id),
            html: { method: :delete },
            remote: true) do |f| %>
  <div class='dont-attend-container'>
    <%= f.submit 'Attending', class: 'btn btn--notice', id: 'dont-attend-btn' %>
  </div>

<% end %>
