<%= form_for(current_user.attendances.find_by(attendee_id: current_user.id),
            html: { method: :delete },
            remote: true) do |f| %>
  <div class='dont-attend-container'>
    <%= f.submit 'Attending', class: 'btn btn--notice', id: 'dont-attend-btn' %>
  </div>

<% end %>
