<% provide(:title, 'Edit the event') %>

<section class='form__container'>
  <h2 class='title title--l1'><%= yield :title %></h2>
  <hr class='h-rule'>

<%= render 'form' %>

</section>

<section>
  <h4 class='title title--l3'>Want to delete the event?</h4>

  <%= button_to "Delete event", event_path,
                data: { confirm: "Are you sure?" }, method: :delete,
                class: 'btn btn--danger' %>
</section>
