<header class='page-container_header--2'>
  <h2 class='title--skinny'>Browse all events</h2>
  <hr class='h-rule-5--orange'>
</header>
<section class='main-wrapper'>
  <div class='events-wrapper'>
    <%= render @events %>
  </div>
</section>
