<div class="eu-grid">

  <h2 class='eu__header--center title title--bottom title--center title--skinny'>Search all events</h2>

  <%= render 'aside-filter' %>

  <section class='eu__events'>
    <%= list_events @events %>
    <%= will_paginate %>
  </section>
  
</div>
