<div class='page-container_header--2'>
  <h2 class='title title--bottom title--center title--skinny'>Search all events</h2>
  <hr class='h-rule-5--orange'>
</div>
<%= render 'aside-filter' %>
<section class='profile_main'>
  <div class='events-wrapper'>
    <%= list_events @events %>
  </div>
  <%= will_paginate %>
</section>

<% content_for :scripts do %>
<script type='text/javascript'>

  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {},
    internal: { id: 'map' }},
    function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      "<% if @hash.size == 1 %>"
        handler.getMap().setZoom(15);
      "<% end %>"
  });

</script>
<% end %>
