<div class='page-container_header--2'>
  <h2 class='title title--bottom title--center title--skinny'>Search all events</h2>
  <hr class='h-rule-5--orange'>
</div>
<%= render 'aside-filter' %>
<section class='profile_main'>
  <div class='events-wrapper'>
    <%= list_events @events %>
  </div>
  <%= will_paginate %>
</section>
