<% provide(:title, 'Create new event') %>

<section class='page-container_header--2'>
  <h2 class='title title--bold title--center'>Create an event</h2>
</section>
<hr class='h-rule h-rule-5--grid-3'>

<%= render 'form' %>
