<% provide(:title, 'Create new event') %>

<section class='form__container'>
  <h2 class='title title--l1'><%= yield :title %></h2>

  <hr class='h-rule h-rule-5--grid-3'>

  <%= render 'form' %>

</section>
