@import 'colors'
@import 'base'

/*----------- Forms ------*/

.form__container
  width: 500px
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

.form
  width: 100%

.form__field
  box-sizing: border-box
  display: block
  width: 100%
  padding: 0.5rem
  font-size: 0.8rem
  border-radius: 4px
  border: 1px solid #ccc
  background-color: white
  text-align: center
  text-align-last: center

.form__field--margin-yes
  margin-top: 0.5rem
  margin-bottom: 0.5rem

.form__field--half
  width: 50%
  &:first-of-type
    border-radius: 4px 0 0 4px
    border-right: none
  &:last-of-type
    border-radius: 0 4px 4px 0

.form__remember-me
  display: flex
  justify-content: space-between
  align-items: center

.form__group
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  margin-bottom: 1.5rem

.select
  position: relative
  width: 100%

.datetime-picker_container
  width: 100%
  display: flex
  justify-content: space-between
  overflow: hidden

.datetime-picker
  position: relative
  display: inline
  width: 100%
  &:nth-of-type(1)
    margin-right: 0.7rem
  &:nth-of-type(2)
    margin-left: 0.7rem

.form__img-thumb
  width: 100%
  max-height: 250px

.form__textarea
  height: 200px
  text-align: left !important
  text-align-last: left !important

/*-------- Errors --------*/

#error_explanation
  margin-bottom: 1rem
  padding: 0.5rem
  border: 1px $primary-color solid
  border-radius: 0.5rem

  h2
    font-size: 1rem
    margin-bottom: 1rem
    text-align: center

  li
    font-size: 0.8rem
    text-align: center


/*-------- File input -------*/
.inputfile
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

.inputfile + label
  width: 100%
  border-radius: 4px
  font-size: 1rem
  font-weight: 400
  text-overflow: ellipsis
  white-space: nowrap
  cursor: pointer
  display: inline-block
  overflow: hidden
  padding: 0.625rem 1.25rem
  box-sizing: border-box
  text-align: center

.no-js .inputfile + label
  display: none

.inputfile
  &:focus + label, &.has-focus + label
    outline: 1px dotted #000
    outline: -webkit-focus-ring-color auto 5px
  + label
    *
    svg
      width: 1em
      height: 1em
      vertical-align: middle
      fill: currentColor
      margin-top: -0.25em
      margin-right: 0.25em

.inputfile-1
  + label
    color: white
    background-color: $alt-color
  &:focus + label, &.has-focus + label, + label:hover
    background-color: #044b71

/*-------- Media queries ----*/

@media screen and (max-width: 542px)

  .form__container
    width: 90%
