@import 'colors'
@import 'base'

.icon--menu
  display: none
  position: absolute
  top: 0
  right: 0
  z-index: 8888

.icon--filter
  display: none
  margin: auto 0 auto 1rem

.icon--filter:hover
  cursor: pointer

.icon--filter-rotate
  transform: rotateX(180deg)

.select-icon
  position: absolute
  right: 8px
  top: 11px

@media screen and (max-width: 799px)
  .icon--filter
    display: block
    margin-left: auto
    margin-right: auto

  .icon--menu
    display: block
