@import 'colors'

a
  text-decoration: none

.link, .link:hover, .link:visited
  color: $alt-color !important

.link:hover
  text-decoration: underline

.link--active
  color: $primary-color !important

.link--active:hover
  color: $primary-color !important
  text-decoration: none
