@import 'colors'

\:root
  box-sizing: border-box

html
  -webkit-font-smoothing: antialiased
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
  font-size: 21px
  color: $text-color

body
  background-color: $background-color

.content
  margin-top: 60px

/*--------- Links ------------*/

a
  text-decoration: none

.link-decorate:hover
  text-decoration: underline

.link-decorate:visited, .link-decorate, .link-decorate:hover
  color: $alt-color

.button-link
  color: white !important

.link--normal
  color: inherit
  &:hover
    color: $alt-color

ul
  list-style: none
  margin: 0
  padding: 0

ul li
  margin: 0
  padding: 0
  border: none

figure
  margin: 0
  padding: 0


h1, h2, h3, h4, h5, h6, p
  margin: 0

.mt-1
  margin-top: 1rem

.mb-1
  margin-bottom: 1rem

::-webkit-input-placeholder
  font-size: 0.8rem
  text-align: center

select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
