@import 'colors'
@import 'base'

.logo
  display: inline-block
  color: $primary-color
  font-weight: 700
  font-size: 1rem
  line-height: 2rem
  padding: 9px 1.4rem
  border-right: $border

.box
  border-radius: 4px

.map
  width: 100%
  height: 100%

.mt1
  margin-top: 1rem !important

.mb1
  margin-bottom: 1rem !important

/* -------- Flash -------- */

.flash-container
  position: fixed
  z-index: 999
  top: 60px
  width: 100%
  text-align: center

.alert
  height: 100%
  padding: 0.6rem 0
  color: white

.alert-danger
  color: $text-color

.flash-alert
  background-color: $primary-color

.flash-notice
  background-color: $alt-color

.flash-success
  background-color: $success-color

/*-------- H rule ----------*/

.h-rule
  margin: 1rem auto
  width: 5%
  border-width: 2px
  border-color: $primary-color
  border-style: solid

/*-------- Pagination -------*/

.pagination
  margin: 1rem
  text-align: center
  padding: 0.3em
  cursor: default
  a, span, em
    padding: 0.2em 0.5em
  .disabled
    color: #aaaaaa
  .current
    font-style: normal
    font-weight: bold
    color: $primary-color
  a
    border: 1px solid #dddddd
    color: $alt-color
    text-decoration: none
    &:hover, &:focus
      background: $alt-color
      color: white
  .page_info
    color: #aaaaaa
    padding-top: 0.8em
  .previous_page, .next_page
    border-width: 2px
  .previous_page
    margin-right: 1em
  .next_page
    margin-left: 1em

.map_infowindow
  text-align: center
  display: block
