@import 'colors'
@import 'base'

.box
  border-radius: 4px

.map
  width: 100%
  height: 100%

.mt1
  margin-top: 1rem !important

.mb1
  margin-bottom: 1rem !important

/* -------- Flash -------- */

.flash-container
  position: fixed
  z-index: 999
  top: 60px
  width: 100%
  text-align: center

.alert
  height: 100%
  padding: 0.6rem 0
  color: white

.alert-danger
  color: $text-color

.flash-alert
  background-color: $primary-color

.flash-notice
  background-color: $alt-color

.flash-success
  background-color: $success-color

/*-------- H rule ----------*/

.h-rule
  margin: 1rem auto
  width: 5%
  border-width: 2px
  border-color: $primary-color
  border-style: solid

/*-------- Pagination -------*/

.pagination
  margin: 1rem
  text-align: center
  padding: 0.3em
  cursor: default
  a, span, em
    padding: 0.2em 0.5em
  .disabled
    color: #aaaaaa
  .current
    font-style: normal
    font-weight: bold
    color: $primary-color
  a
    border: 1px solid #dddddd
    color: $alt-color
    text-decoration: none
    &:hover, &:focus
      background: $alt-color
      color: white
  .page_info
    color: #aaaaaa
    padding-top: 0.8em
  .previous_page, .next_page
    border-width: 2px
  .previous_page
    margin-right: 1em
  .next_page
    margin-left: 1em

.map_infowindow
  text-align: center
  display: block

/*--------- Modal ----------*/

.modal
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: black
  background-color: rgba(0, 0, 0, 0.6)

/*----- Modal Header --------*/

.modal__header
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  text-align: center
  padding: 1.5em
  background-color: $primary-color
  color: white
  h2
    margin: auto

/*----- Modal Body -----*/

.modal__body
  padding: 1em
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -webkit-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  max-height: 375px
  overflow-y: auto

/*------- Modal Content --------*/

.modal__content
  position: relative
  top: calc(50% - 220px)
  background-color: #fefefe
  margin: auto
  padding: 0
  border: 1px solid #888
  width: 40%
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  -webkit-animation-name: animatetop
  animation-name: animatetop
  -webkit-animation-duration: 0.4s
  animation-duration: 0.4s

/*------ The Close Button -----*/

.modal__close
  -webkit-align-self: flex-start
  -ms-flex-item-align: start
  align-self: flex-start
  color: white
  font-size: 2.6em
  font-weight: bold
  &:hover, &:focus
    color: black
    text-decoration: none
    cursor: pointer

@media screen and (min-width: 320px)
  .modal__content
    width: 90%
  .modal__header
    font-size: 0.8rem

@media screen and (min-width: 480px)
  .modal__content
    width: 70%
  .modal__header
    font-size: 0.8rem

@media screen and (min-width: 768px)
  .modal__content
    width: 50%

@media screen and (min-width: 1210px)
  .modal__content
    width: 40%

/*----- Modal Animation --------*/

@-webkit-keyframes animatetop
  from
    top: -30em
    opacity: 0

  to
    top: calc(50% - 220px)
    opacity: 1


@keyframes animatetop
  from
    top: -30em
    opacity: 0

  to
    top: calc(50% - 220px)
    opacity: 1