@import 'colors'
@import 'base'

.events-wrapper
  display: grid
  grid-template-columns: 33.333% 33.333% 33.333%
  grid-template-rows: auto auto auto auto auto

/*------- Event postcard ------*/

.event_cell
  padding: 0 0.5rem 0.8rem
  box-sizing: border-box
  position: relative

.event-postcard
  background-color: white
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1)
  border-radius: 4px
  position: relative

.event_edit
  position: absolute
  padding: 0.1rem 0.5rem
  background-color: white
  border-radius: 4px
  font-size: 0.8rem
  right: 8px
  top: 8px
  z-index: 10
  text-transform: uppercase

.event_edit--big
  padding: 0.4rem 1rem
  font-size: 0.8rem

.event-postcard_main_header
  width: 100%
  height: 165px
  overflow: hidden
  border-bottom: 1px solid $border-color

.event-postcard_image, .event_list_image
  width: 100%
  height: 100%
  -moz-transition: all 0.3s
  -webkit-transition: all 0.3s
  transition: all 0.3s

  &:hover
    -moz-transform: scale(1.1)
    -webkit-transform: scale(1.1)
    transform: scale(1.1)

.event-postcard_image
  border-radius: 4px 4px 0 0

.event_image--grayscale
  filter: grayscale(0.9)

.event-postcard_main_body, .event-postcard_footer
  padding: 10px 15px

.event-postcard_date
  text-transform: uppercase

.event-postcard_date, .event-postcard_footer-item, .event-postcard_venue
  padding-top: 5px
  color: $text-color

.event-postcard_title, .event_list_title
  color: $text-color--accent
  font-size: 15px
  text-transform: capitalize
  font-weight: 600
  letter-spacing: 0.5px
  line-height: 19px
  height: 38px
  max-height: 38px
  display: -webkit-box
  margin: 0 auto
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  overflow: hidden
  text-overflow: ellipsis

.event-postcard_venue, .event_list_venue
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

.event-postcard_venue, .event-postcard_date, .event-postcard_category, .event-postcard_footer-item
  font-size: 12px
  line-height: 18px
  font-weight: 400
  letter-spacing: 0.5px

.event-postcard_footer
  border-top: 1px solid $border-color

.event-postcard_category
  line-height: 35px

.event-delete
  padding: 1rem
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  grid-row: 5
  grid-column: 6 / 12

/*--------- Event show ------------*/

.event_hero--blurry
  filter: blur(50px) brightness(0.9)
  display: inline-block
  transform: translate(-50%, -50%)
  width: 200%
  position: relative
  top: 50%
  left: 50%

.event_hero--blurry--grayscale
  -webkit-filter: blur(50px) brightness(0.9) grayscale(0.9)
  filter: blur(50px) brightness(0.9) grayscale(0.9)

.event-show_wrapper
  grid-row: 2 / 4
  grid-column: 3 / 15
  position: relative
  margin-top: 2rem
  display: grid
  grid-template-columns: 2fr 1fr
  grid-template-rows: minmax(200px, 360px) auto auto minmax(200px, 360px) auto auto
  background-color: white
  border-radius: 4px

.event-show_header_picture-container
  grid-row: 1 / 2
  grid-column: 1 / 2
  position: relative
  overflow: hidden

.event-show_header_picture
  width: 100%
  height: 100%
  border-radius: 4px 0 0 0
  object-fit: cover
  object-position: center

.event-show_header_picture--grayscale
  filter: grayscale(0.9)

.event-show_header_info-container
  grid-row: 1 / 2
  grid-column: 2 / 3
  padding: 1.4rem
  background-color: rgba(232, 231, 231, 0.3)

.event-show_info_date
  position: absolute
  text-align: center

.event-show_sec-title
  font-size: 0.6rem
  line-height: 0.7rem
  text-transform: uppercase
  font-weight: 600
  letter-spacing: 0.5px
  color: $text-color--accent

.event-show_info_date_day
  font-size: 1rem
  letter-spacing: 1px
  font-weight: 400
  line-height: 1.25rem
  text-align: center

.event-show_info_body
  padding-top: 3rem

.event-show_info_title
  font-size: 1.4rem
  line-height: 1.6rem
  letter-spacing: 1px
  font-weight: 500

.event-show_info_creator
  padding-top: 1rem
  font-size: 0.8rem

.event-show_attend-container
  grid-row: 2 / 3
  grid-column: 1 / 3
  display: flex
  justify-content: center
  align-items: center
  border-bottom: 1px solid $border-color
  padding: 1rem 0

.event-show_description-container
  grid-column: 1 / 2
  grid-row: 3 / 4
  padding: 2.5rem 5rem
  display: flex
  align-items: flex-start
  flex-direction: column
  border-bottom: 1px solid $border-color

.event-show_description, .event-show_aside-info_content
  font-size: 0.9rem
  padding-top: 1rem
  font-weight: 300
  line-height: 1rem
  letter-spacing: 0.5px

.event-show_description
  white-space: pre-line

.event-show_aside-info_content
  font-size: 0.8rem

.event-show_aside-info
  grid-row: 3 / 4
  grid-column: 2 / 3
  padding: 2.5rem 5rem 1rem 0
  border-bottom: 1px solid $border-color

.event-show_aside-info_item
  margin-bottom: 2rem

.event-show_map-container
  grid-row: 4 / 5
  grid-column: 1 / 3
  overflow: hidden

.event-show_footer-info
  grid-row: 5 / 6
  grid-column: 1 / 3
  display: flex
  flex-direction: column
  align-items: center
  padding: 2rem 0

.event-show_footer_title
  font-size: 1rem

.event-show_footer_at
  font-size: 0.7rem
  padding: 0.5rem 0
  font-weight: 300

.event-show_footer_address
  font-size: 0.8rem
  padding-top: 0.3rem
  font-weight: 300
  line-height: 1rem

/*------- Event list -------*/
.event_cell--list
  grid-column: 1 / span 3
  padding: 0 0.5rem 0.8rem
  box-sizing: border-box
  position: relative

.event_list
  display: flex
  position: relative
  height: 137px

.event_list_main_header
  flex-grow: 1
  width: 200px
  height: 137px
  overflow: hidden
  border-right: 1px solid $border-color

.event_list_main_body
  background-color: white
  flex-grow: 3
  height: 100%

.event_list_footer
  display: flex
  justify-content: flex-start
  align-items: flex-end
  border-top: 1px solid $border-color
  padding-top: 0.4rem

.event_list_date, .event_list_venue, .event_list_category
  color: $text-color
  font-size: 12px
  line-height: 18px
  font-weight: 400
  letter-spacing: 0.5px
  padding-left: 0.8rem

.event_list_title
  color: $text-color--accent
  font-size: 16px
  line-height: 19px
  font-weight: 600
  letter-spacing: 0.5px
  text-transform: capitalize
  height: 38px
  padding-left: 0.8rem

.event_list_venue
  padding: 0.3rem 0.8rem

.event_list_date
  padding-top: 0.8rem

$loader-size: 5rem
$animation-duration: 1.5s

.pulse
  display: none
  width: $loader-size
  height: $loader-size
  margin: 0 auto
  border-radius: 100%
  background-color: white
  opacity: 1
  animation: pulse $animation-duration infinite ease-in-out


@keyframes pulse
  0%
    transform: scale(0)
    opacity: .8

  100%
    transform: scale(1)
    opacity: 0

.load-more-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.datetime-picker
  position: relative

/*-------- Event index -------*/
.main-wrapper
  display: grid
  grid-column: 3 / 15
  grid-row: 3 / 4

.map
  margin: 0.5rem 0

.event-form_img-container
  width: 100%
  max-height: 225px
