@import 'colors'
@import 'base'

.main-header
  position: fixed
  top: 0
  grid-column: 1 / 17
  grid-row: 1 / 2
  width: 100%
  display: flex
  background-color: white
  z-index: 9999
  border-bottom: 1px solid $border-color

.logo
  display: inline-block
  color: $primary-color
  font-weight: 700
  font-size: 1rem
  line-height: 2rem
  padding: 9px 1.4rem
  border-right: 1px solid $border-color

.main-header_nav
  margin-left: auto
  display: flex

.main-header_nav-item
  border-left: 1px solid $border-color
  margin-left: auto
  margin-right: auto

.main-header_nav-item_username
  display: inline
  padding-left: 0.3rem

.main-header_nav-link
  box-sizing: border-box
  display: block
  height: 100%
  width: 100%
  line-height: 60px
  padding: 0 0.5rem
  color: $text-color
  font-size: 0.6rem
  text-transform: uppercase
  letter-spacing: 0.5px

  &:hover
    background-color: $border-color

.main-header_nav-item:last-of-type .main-header_nav-link
  color: $alt-color
  font-weight: bold

/*------------ Dropdown menu ---------*/

.dropdown
  position: relative
  cursor: default

.dropdown-content
  display: none
  position: absolute
  background-color: white
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
  z-index: 9999

.main-header_dropdown-link
  color: $text-color
  font-size: 0.8rem
  padding: 12px 16px
  text-decoration: none
  display: block
  text-align: center
  &:hover
    background-color: $border-color

.dropdown:hover .dropdown-content
  display: block

/*----------- Main content -------*/

.hero-image-wrapper
  grid-column: 1 / 17
  grid-row: 2 / 3
  position: relative
  height: 35vw
  max-height: 500px
  overflow: hidden
  z-index: 0

.hero-img
  height: 100%
  width: 100%
  object-fit: cover
  object-position: center
  position: absolute
  top: 0
  left: 0
  z-index: 0
  -webkit-animation: imageAnimation 28s ease-in-out infinite

.event_hero--blurry
  filter: blur(50px), brightness(0.9)

.no-border
  border: none !important

.home-header
  margin-top: 1rem

.home-search_container
  margin: 1.5rem 0

.home-search_form
  display: flex
  flex-wrap: nowrap
  box-sizing: border-box
  justify-content: center
  input
    &:nth-of-type(2)
      border-radius: 4px 0 0 4px
      max-width: 20%
    &:nth-of-type(3)
      border-radius: 0
      border-left: none
      max-width: 20%
    &:nth-of-type(4)
      border-radius: 0
      border-left: none
      width: 15%
    &:nth-of-type(5)
      border-radius: 0
      border-left: none
      border-right: none
      width: 15%

.home-search_form_field
  margin: 0
  display: inline

.categories-container
  margin-top: 1rem

.categories-wrapper
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: auto auto auto
  grid-gap: 30px

.category_cell
  border-radius: 4px

.category_cell--0
  grid-column: 1 / 3
  grid-row: 1 / 2

.category_cell--1
  grid-column: 3 / 4
  grid-row: 1 / 2

.category_cell--2
  grid-column: 1 / 2
  grid-row: 2 / 3

.category_cell--3
  grid-column: 2 / 3
  grid-row: 2 / 3

.category_cell--4
  grid-column: 3 / 4
  grid-row: 2 / 3

.category_cell--5
  grid-column: 1 / 2
  grid-row: 3 / 4

.category_cell--6
  grid-column: 2 / 4
  grid-row: 3 / 4

.category_body
  position: relative

.category_name-container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  color: white
  z-index: 99
  padding: 1rem

.category_image-wrapper
  width: 100%
  height: 220px
  overflow: hidden
  position: relative
  z-index: 0
  border-radius: 4px

.category_image
  width: 100%
  height: auto
  border-radius: 4px
  -moz-transition: all 0.3s
  -webkit-transition: all 0.3s
  transition: all 0.3s

.category_cell:hover .category_image
  -moz-transform: scale(1.05)
  -webkit-transform: scale(1.05)
  transform: scale(1.05)

.category_name
  text-shadow: 0.5px 0.5px 0.5px lightgray
