@import 'colors'
@import 'base'

/*-------- Titles --------*/

.title
  padding: 1rem 0
  text-align: center

.title--left
  text-align: left

.title--right
  text-align: right

.title--skinny
  font-weight: 300

.title--bold
  font-weight: 500

.title--l1
  font-size: 2rem
  line-height: 3rem
  font-weight: 500

.title--color-primary
  color: $primary-color

/*------- Text --------*/

.text--muted
  color: $text-muted !important

.visitor-city
  color: $alt-color
  &::before
    content: ' '
    display: inline-block

/*-------- Media queries --------*/

@media screen and (max-width: 800px)
  .title--l1
    font-size: 1.8rem
    line-height: 2rem

@media screen and (max-width: 560px)
  .title--l1
    font-size: 1.5rem
    line-height: 1.5rem
