@import 'colors'
@import 'base'

/*-------- Titles --------*/

.title
  padding: 1rem 0
  text-align: center
  width: 100%

.title--left
  text-align: left

.title--right
  text-align: right

.title--bold
  font-weight: 500

.title--l1
  font-size: 2rem
  line-height: 3rem
  font-weight: 500

.title--l2
  font-size: 1.5rem
  font-weight: 500
  line-height: 1.5rem
  letter-spacing: 0.5px

.title--l3
  font-size: 1.2rem
  line-height: 1.4rem
  letter-spacing: 0.5px
  font-weight: 600

.title--l4
  font-size: 0.8rem
  font-weight: 600
  letter-spacing: 0.5px
  line-height: 0.9rem
  height: 1.8rem
  max-height: 1.8rem
  margin: 0 auto
  color: $text-color--accent

.title--l5
  font-size: 0.6rem
  font-weight: 600
  letter-spacing: 0.5px
  line-height: 0.8rem
  color: $text-color--accent

.title--l6
  font-size: 0.6rem
  line-height: 0.85rem
  font-weight: 400
  letter-spacing: 0.5px
  color: $text-color

.title--color-primary
  color: $primary-color

.title--cpt
  text-transform: capitalize

.title--clap-2
  max-width: 100%
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  overflow: hidden
  text-overflow: ellipsis

.title--clap-1
  max-width: 100%
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 1
  overflow: hidden
  text-overflow: ellipsis

/*------- Text --------*/

.text--up
  text-transform: uppercase

.text--smaller
  font-size: 0.8rem

.text--smallest
  font-size: 0.6rem
  line-height: 0.7rem
  font-weight: 600
  letter-spacing: 0.5px

.text--skinny
  font-weight: 300

.text--center
  text-align: center
  display: inline-block
  width: 100%

.text--muted
  color: $text-muted !important

.text--preline
  white-space: pre-line

/*-------- Media queries --------*/

@media screen and (max-width: 999px)
  .title--l3
    font-size: 1rem
    line-height: 1.2rem

@media screen and (max-width: 800px)
  .title--l1
    font-size: 1.8rem
    line-height: 2rem

@media screen and (max-width: 574px)
  .title--l1
    font-size: 1.5rem
    line-height: 1.5rem
