<footer class='main-footer'>
  <section class='main-footer__content'>
    <h4 class='title--l4 text--white text--center'>© Mario Zugaj. EventBrite clone. Project for
      <%= link_to 'TheOdinProject',
                  'https://www.theodinproject.com/courses/ruby-on-rails/lessons/advanced-associations?ref=lc-pb',
                  class: 'link footer__link' %></h4>
  </section>
</footer>
